[alias]
	l = log --graph --oneline --decorate
	ll = log --stat --decorate --source -p
	ld = log --graph --pretty=format:'%C(yellow)%h%C(bold white red)%d%Creset %s %C(bold green)%cr %Creset%C(white)%an' --abbrev-commit --date=relative
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"
	branches = for-each-ref --sort=-committerdate --format=%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short) refs/remotes
	tree = log --graph --decorate --pretty=format:'%C(yellow)%h %Cred%cr %Cblue(%an)%C(cyan)%d%Creset %s' --abbrev-commit --all
	xclean = clean -fdx -e .history -e .bazelrc.local -e .provisioning_profile -e config.private.json
[core]
	editor = $EDITOR
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	abbrev = 12
	ignorecase = true
[color]
	ui = auto
[commit]
	verbose = true
	template = ~/.gitmessage
	gpgsign = true
[diff]
	renames = copies
	algorithm = patience
	colorMoved = zebra
[include]
	path = ~/.gitconfig.local
[merge]
	ff = true
	conflictstyle = diff3
[push]
	default = current
	followTags = true
[pull]
	ff = true
	rebase = true
[pager]
	branch = false
[interactive]
	diffFilter = delta --color-only
[remote "origin"]
	prune = true
[fetch]
	prune = true
[rebase]
	autosquash = false
	autostash = true
[init]
	defaultBranch = master
[gpg]
	program = gpg
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
